[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sahilgarg25
[access "refs/for/refs/*"]
	read = group user/sahilgarg25
	push = group user/sahilgarg25
	label-Code-Review = -2..+2 group user/sahilgarg25
	label-Verified = -1..+1 group user/sahilgarg25
	rebase = group user/sahilgarg25
	removeReviewer = group user/sahilgarg25
	submit = group user/sahilgarg25
[access "refs/heads/*"]
	read = group user/sahilgarg25
	create = group user/sahilgarg25
	push = +force group user/sahilgarg25
	pushMerge = group user/sahilgarg25
[access "refs/tags/*"]
	push = +force group user/sahilgarg25
	pushTag = group user/sahilgarg25
	pushSignedTag = group user/sahilgarg25
